In [1]:
import pandas as pd
import requests

In [2]:
df_regs = pd.read_csv('/Users/belof/Documents/Python/hexlet_projects/python-for-data-analysts-project-100/regs_1k.csv')
df_visits = pd.read_csv('/Users/belof/Documents/Python/hexlet_projects/python-for-data-analysts-project-100/visits_1k.csv')

In [ ]:
url = requests.api()

In [3]:
df_regs.describe()

            user_id
count  1.000000e+03
mean   4.488623e+06
std    2.620568e+06
min    2.236800e+04
25%    2.235489e+06
50%    4.473044e+06
75%    6.779707e+06
max    8.881772e+06

In [4]:
df_visits.describe()

,uuid,platform,user_agent,date
count,1000,1000,1000,1000
unique,519,3,28,996
top,251a0926-ece3-4d77-aa42-ab569fdf9fe2,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-01T08:01:45
freq,4,954,71,2